<div class="jumbotron container mt-5">
    <h1 class="display-4">DevRain </h1>
    <p class="company-info">is your trusted Microsoft partner in Cloud and Data & AI, crafting scalable solutions tailored to your needs.</p>
    <hr class="my-4">
    <p class="lead company-info">Through technology, we aim to create value, drive efficiency, and make a positive impact on society. Whether you're a large enterprise seeking efficient automation or a mid-sized company aiming to scale tech capabilities, we have the expertise you need.</p>
</div>