<div class="container">
    <div class="row">
        <div class="col-md-12 p-3 p-md-5 text-center">
            <h1>Services</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 p-3 p-md-5 text-start">
            <h3 class="display-4">Software Development</h3>
            <p class="company-info">Utilize cutting-edge technologies to build efficient, scalable, and innovative applications, ensuring your business stays ahead in the competitive digital landscape.</p>
        </div>

        <div class="col-md-6 p-3 p-md-5">
            <img class="img-fuid" width="100%" src="https://mmcgbl.com/wp-content/uploads/2023/06/Enterprise-Custom-Software-Development-768x619.webp" />
        </div>

        <div class="col-md-6 p-3 p-md-5">
            <img class="img-fuid" width="100%" src="https://sealinfotech.ae/wp-content/uploads/2020/11/it-consultancy-1.png" />
        </div>

        <div class="col-md-6 p-3 p-md-5 text-start">
            <h3 class="display-4">Consulting</h3>
            <p class="company-info">Unlock new opportunities and drive growth with our Cloud and Data & AI consulting services. From strategy to security, we're here to ensure a clear sky for your journey.</p>
        </div>

        <div class="col-md-6 p-3 p-md-5 text-start">
            <h3 class="display-4">Training</h3>
            <p class="company-info">Our training modules are tailored to meet your specific business needs, ensuring your team is well-equipped to tackle the technological demands of today’s business environment.</p>
        </div>

        <div class="col-md-6 p-3 p-md-5">
            <img class="img-fuid" width="100%" src="https://cdni.iconscout.com/illustration/premium/thumb/business-training-2750497-2289787.png" />
        </div>

        <div class="col-md-6 p-3 p-md-5">
            <img class="img-fuid" width="100%" src="https://png2.cleanpng.com/sh/512df2872d4be67bdc795e03c32642dd/L0KzQYm3WcIyN6p5gJH0aYP2gLBuTgNwbqV8eeRuLXzsc7b1kBUuepDAed59eT3pgrbsTgNwbqV8eeRuLXzsc7b1kBlvb15mRdVqZD32f7f7lBFzbV5xgdVuboPsfri0kPVzeJZ5jdN1LYb2PcToggMucaN0htU2NXLkRLS9hPFmOJU9T6Y3MEG7Q4SCUsQyPWQ8TaQANEa5SYO4TwBvbz==/kisspng-software-license-royalty-free-software-licensing-a-cad-software-licensing-perpetual-vs-saas-ironc-5ba4c6dae0d874.018339241537525466921.png" />
        </div>

        <div class="col-md-6 p-3 p-md-5 text-start">
            <h3 class="display-4">Licensing</h3>
            <p class="company-info">Matching your specific needs with the right licensing options, ensuring compliance and cost-effectiveness in your software management strategy.</p>
        </div>

    </div>
</div>