@page "/"

<section id="company">
    <DevRain.DevRainBlazor.Layout.CompanyInfo/>
</section>

<section id="services" class="features">
    <DevRain.DevRainBlazor.Layout.Services/>
</section>

<section id="clients">
    <DevRain.DevRainBlazor.Layout.Clients/>
</section>
